.logout-wrapper {
  display: flex;
  direction: ltr;
  margin-top: 16%;
  margin-bottom: 10%;
  direction: ltr;

}

.logout-content {
  flex: 1;
  margin-right: 60px;
  text-align: center;
   margin-top: 16%;

}

.logout-title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 30px;
}
.logoutmarketing-sidebar {
    width: 26%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  min-width: 200px;
  margin-top: 9%;
}
/* زر تسجيل الخروج */
.logout-main-btn2 {
  background: #d22121;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  padding: 14px 80px;
  cursor: pointer;
}

/* لو حابة تبيني إن زر تسجيل الخروج في الـ sidebar هو المختار */
.active-logout {
  background: #d22121;
  color: #fff;
  border-color: #d22121;
}

/* -------- Responsive -------- */
@media (max-width: 1024px) {
  .profile-wrapper{
    margin: auto;
  }
  .logout-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 6% 10% 10% 10%; خففنا الهوامش الجانبية */
  }

  .logout-content {
    margin-right: 0; 
    text-align: center;
  }
   .marketing-sidebarr {
    width: 100% !important; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .logoutmarketing-sidebar {

    padding-top: 49%;
}
.logoutmarketing-sidebar .side-btn{
  font-size: 18px;
}
.side-btn.active{
  font-size: 18px;
}
}

@media (max-width: 600px) {
 .logout-wrapper .logout-title {
    font-size: 28px; 
    margin-top: 30px;
    margin-bottom: 25px;
  
  }

  .logout-main-btn2 {
    width: 90%; /* الزر ياخد عرض مناسب على الموبايل */
    padding: 12px 0;
    font-size: 18px;
            margin-bottom: 16%;

  }
}
