.bproduct-image-box {
    width: 51%;
    max-width: 520px;
       max-width: 520px;
    height: 45vh;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background: #f5f5f5;

}
@media screen and(max-width:768px) {
    .bproduct-image-box{
    width: 100%;
    height: 28vh;

    }
    .installement h4{
            font-size: 17px;

    }
    .seller-box{
        display: block;

    }
}