.cancelled{
        color: #9E9E9E;
    font-size: 30px;
    font-weight: 400;
    margin-top: 5%;
}
@media screen and (max-width:480px){
    .orderdetails-page {
        margin-top: 30% !important;
    }
    
}