.bproduct-image-box {
    width: 51%;
    max-width: 520px;
       max-width: 520px;
    height: 45vh;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background: #f5f5f5;

}
@media screen and (max-width:768px) {
    .product-wrapper{
        width:94%;
    }
    .product-title{
                font-size: 23px;

    }
    .product-page {
    margin-top: 35%;
    direction: rtl;
}
    .bproduct-image-box {
    width:100%;
    height: 30vh;
}
}
